/*About*/
svg.react-chart > text {
	fill: #2c3d5c;
}
.skill-category {
	line-height: 3.3;
}
.card .card-body h3 {
	font-weight: 300 !important;
}
.card .card-body .card-text,
.skill-list {
	font-weight: 100 !important;
}